<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./before_login.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body  ng-app="myApp"  ng-controller="jsonCtrl" class="m-0 p-0 box-border relative "  style="background-color: #00031c;font-family: 'Roboto',sans-serif;">
   <nav class="w-[100%] h-[80px] fixed top-0 left-0 py-0 px-[4%] z-[1000] flex items-center" style="background-color: #00031c;">
    <div class="logo z-[1000]">
        <a href="./index-before.html"><img src="./img/Screenshot_2023-08-09_172416-removebg-preview (1).png" alt="Logo Image"></a>
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li class="active"><a href="./index-before.html">Home</a></li>
        <li><a href="/StreamEase/stream-ease/src/moviess.html">Movies</a></li>
        <li><a href="/StreamEase/stream-ease/src/tvshow.html">Tivi Show</a>
        <li><a href="./price-before.html">Package</a></li>
        </li>
        <li><a href="./aboutus.html">About</a></li>
        <li><a href="./contact.html">Contact Us</a></li>
   
    
    </ul>
    <a class="login-button" href="./login.html">Login</a>
     <form action="" class="search-box">
            <input type="text" name="search" placeholder="search Movie" class="search-input" required>
            <!--  btn-->
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
</nav>
<div class="relative w-[100%] h-[450px] py-[20px] px-[0px] overflow-x-hidden mt-[80px]">
    <div class=" carousel flex w-[92%] h-[100%] relative m-auto " style="background: rgba(0,0,0,0.1);">
        <!-- <div class="flex-none mr-[30px] relative rounded-[5px] w-[100%] h-[100%] left-0 " style="background: rgba(0, 0, 0, 0.5);transition: 1s;overflow: hidden;">
            <div class="absolute w-[50%] h-[100%] z-[2] text-white " style="background: linear-gradient(to right,#030b17 80%,#0c111b00);">
                <h1 class="text-3xl font-bold pl-[50px] capitalize mt-[80px]">Rudra: The Edge of Darkness</h1>
                <p class="w-[80%] leading-[30px] pl-[50px] mt-[30px] opacity-[0.8]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam voluptatibus animi quibusdam eius eligendi ex vel nihil. Tempore soluta blanditiis unde eaque nemo earum possimus atque est quisquam dicta.</p>

            </div>
            <img src="./img/slider 1.PNG" class="w-[70%] min-h-[100%] object-cover block ml-auto" alt="">
        </div> -->
    </div>
</div>
<div class="relative w-[92%] m-auto h-[10vw] flex mb-[20px] justify-between">
<div class="video-card relative h-[100%] rounded-[5px]  overflow-hidden" style="min-width: calc(100%/5 - 10px);width: calc(100%/5 - 10px);background: #030b17;">
    <img src="./images/disney.PNG" alt="" class="video-card-image w-[100%] h-[100%] object-cover ">
    <video src="./videos/disney.mp4" class="w-[100%] h-[100%] object-cover absolute"></video>
</div>
<div class="video-card relative h-[100%] rounded-[5px]  overflow-hidden" style="min-width: calc(100%/5 - 10px);width: calc(100%/5 - 10px);background: #030b17;">
    <img src="./images/netflix.jpg" alt="" class="video-card-image w-[100%] h-[100%] object-cover ">
    <video src="./videos/Dear Child - Official Trailer - Netflix.mp4" class="w-[100%] h-[100%] object-cover absolute"></video>
</div>
<div class="video-card relative h-[100%] rounded-[5px]  overflow-hidden" style="min-width: calc(100%/5 - 10px);width: calc(100%/5 - 10px);background: #030b17;">
    <img src="./images/HBO.jpg" alt="" class="video-card-image w-[100%] h-[100%] object-cover ">
    <video src="./videos/HBO Max_Logo Lockups.mp4" class="w-[100%] h-[100%] object-cover absolute"></video>
</div>
<div class="video-card relative h-[100%] rounded-[5px]  overflow-hidden" style="min-width: calc(100%/5 - 10px);width: calc(100%/5 - 10px);background: #030b17;">
    <img src="./images/Hulu.jpg" alt="" class="video-card-image w-[100%] h-[100%] object-cover ">
    <video src="./videos/Huluween Film Fest- The Hug • Now Streaming on Hulu.mp4" class="w-[100%] h-[100%] object-cover absolute"></video>
</div>
<div class="video-card relative h-[100%] rounded-[5px]  overflow-hidden" style="min-width: calc(100%/5 - 10px);width: calc(100%/5 - 10px);background: #030b17;">
    <img src="./images/Appletv.jpg" alt="" class="video-card-image w-[100%] h-[100%] object-cover ">
    <video src="./videos/The Changeling — Official Trailer - Apple TV+.mp4" class="w-[100%] h-[100%] object-cover absolute"></video>
</div>

</div>
<h1 class="title text-white opacity-[0.9] pl-[4%] capitalize text-[22px] font-medium">recommanded for you</h1>
<div class="movie-list w-[100%] h-[220px] relative " style="margin: 10px 0 20px;">
   

    <div  class="card-container absolute w-[92%] pl-[4%] h-[220px] flex my-0 mx-auto overflow-x-auto overflow-y-visible scroll-smooth items-center">
        <div ng-repeat="resource in employees " class="card relative min-w-[150px] w-[150px] h-[200px] rounded-[5px] overflow-hidden mr-[10px] transition-[0.5s] hover:scale-[1.1] " style="background: #030b17;">
            <img ng-src="./images/{{ resource.img }}" alt="{{resource.title }}" class="w-[100%] h-[100%] object-cover">
            <div class=" card-body w-[100%] h-[100%] absolute top-0 left-0 z-[2] p-[10px] opacity-0" style="background: linear-gradient(to bottom,rgba(4,8,15,0),#192131 90%);transition: 0.5s;">
                <h2 class="text-white text-[15px] font-medium capitalize mt-[60%]" style="font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 1px;
                width: 100%;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;">{{resource.title}}</h2>
                <h6 class="des text-white opacity-[0.8] my-[5px] mx-0 font-medium text-[12px]" style="font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 1px;
                width: 100%;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;">{{resource.overview}}</h6>
                <a href="#"><button id="home" class="watchlist-btn absolute w-[100%] capitalize bg-none font-medium border-none text-right  cursor-pointer py-[10px] px-[5px] rounded-[5px] " style="    color: rgba(255, 255, 255, 0.5);
                    margin: 131px -149px;">add to watchlist</button></a>
            </div>
        </div>
    
        </div>
    </div>
</div>
<div class="slider-btns">
    <div class="swiper-button-prev"><i class="fa fa-arrow-left" aria-hidden="true" style="color: white;"></i></div>
    <div class="swiper-button-next"><i class="fa fa-arrow-right" aria-hidden="true" style="color: white;"></i></div>
</div>
<h1 class="title text-white opacity-[0.9] pl-[4%] capitalize text-[22px] font-medium">Hit movies</h1>
<div class="movie-list w-[100%] h-[220px] relative " style="margin: 10px 0 20px;">
   

    <div class="card-container absolute w-[92%] pl-[4%] h-[220px] flex my-0 mx-auto overflow-x-auto overflow-y-visible scroll-smooth items-center">
        <div ng-repeat="resource in employees " class="card relative min-w-[150px] w-[150px] h-[200px] rounded-[5px] overflow-hidden mr-[10px] transition-[0.5s] hover:scale-[1.1] " style="background: #030b17;">
            <img ng-src="./images/{{ resource.img }}" alt="{{resource.title }}" class="w-[100%] h-[100%] object-cover">
            <div class=" card-body w-[100%] h-[100%] absolute top-0 left-0 z-[2] p-[10px] opacity-0" style="background: linear-gradient(to bottom,rgba(4,8,15,0),#192131 90%);transition: 0.5s;">
                <h2 class="text-white text-[15px] font-medium capitalize mt-[60%]" style="font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 1px;
                width: 100%;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;">{{resource.title}}</h2>
                <h6 class="des text-white opacity-[0.8] my-[5px] mx-0 font-medium text-[12px]" style="font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 1px;
                width: 100%;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;">{{resource.overview}}</h6>
                <a href="#"><button id="home" class="watchlist-btn absolute w-[100%] capitalize bg-none font-medium border-none text-right  cursor-pointer py-[10px] px-[5px] rounded-[5px] " style="    color: rgba(255, 255, 255, 0.5);
                    margin: 131px -149px;">add to watchlist</button></a>
            </div>
        </div>
        
        </div>
    </div>
</div>
<div class="slider-btns">
    <div class="swiper-button-prev"><i class="fa fa-arrow-left" aria-hidden="true" style="color: white;"></i></div>
    <div class="swiper-button-next"><i class="fa fa-arrow-right" aria-hidden="true" style="color: white;"></i></div>
</div>
<section class="movie-banner" data-aos="zoom-in" data-aos-duration="2000" id="movie-banner">
    <!-- ==img---------- -->
    <div class="m-banner-img" id="m-banner-img" >
        <img src="./img/disney-hotstar-logo-dark.svg" alt="">
    </div>
    <!-- --content================= -->
    <div class="banner-container">
        <!-- tittle-container------ -->
        <div class="tittle-container">
            <div class="tittle-top">
            <div class="movie-tittle">
                <h1>Pireates of Caribbean Salazar's Revenge</h1>
            </div>
            <div class="more-about-movie">
                <span class="quality">Full HD</span>
                <div class="rating">
                    8.2 <img src="./img/IMDb-icon.png" alt="imbd">
                </div>
                <span>28 August 2017</span>
                <span>87min</span>
            </div>
            <!-- Language -->
            <div class="language">
                <span>English</span> 
            </div>
        </div>
        <!-- Tittle-bottom -->
        <div class="tittle-bottom">
            <div class="category">
                <strong>Category</strong><br>
                <a href="#">Honnor</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
            </div>
           
        </div>
        </div>
            <!-- play-btn---------------- -->
        
        <!-- Video/full-movie -->
       
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="./slider-data.js"></script>
<script src="./app.js"></script>
<script src="./Hambuger.js"></script>
<script src="https://kit.fontawesome.com/8d355d0fd1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>  
<script>
    var myApp  =  angular.module('myApp', []);

myApp.controller('jsonCtrl', function($scope, $http){
	$http.get('value.js').success(function (data){
		$scope.employees = [
            {
               "id" : 1,
                "title" :"The Shawshank Redemption",
                "year":1994,
                "genres":[9,10],
                "director":1,
               " actors":[1,2],
               "overview":"Andy Dufresne, a banker who is wrongly convicted of murdering his wife and her lover, is sentenced to life in Shawshank State Penitentiary. There, he befriends Ellis Red Redding and together they endure the challenges of prison life.",
               "country":1,
                "brand":[2],
                "img":"film1.jpg",
                "video":""
            },
            {
                "id":2,
                "title":"Schindler's List",
                "year":1993,
                "genres":[10,16],
                "director":2,
               " actors":[3,4],
               "overview":"Oskar Schindler, a German businessman, saved the lives of over a thousand Jews from the Holocaust by employing them in his factories.",
               "country":1,
                "brand":[2,8],
                "img":"film2.jpg",
                "video":""
            },
            {
               "id":3,
                "title":"Pulp Fiction",
                "year":1994,
                "genre":[1,9],
                "director":3,
                "actor":[5,6,7],
               "overview":"Pulp Fiction is a crime film by Quentin Tarantino that tells the story of three different tales. The first tale follows two bank robbers, Jules Winnfield and Vincent Vega, as they carry out a job. The second tale follows a man named Butch Coolidge who has been promised a large sum of money to lose a boxing match. The third tale follows a mob boss named Marsellus Wallace as he searches for his missing diamond-encrusted watch.",
               "country":1,
                "brand":[2,8],
                "img":"film3.jpg",
                "video":""
            },
            {
                "id":4,
                "title":"Star Wars: Episode V - The Empre Strikes Back",
                "year":1980,
                "genres":[1,8,15,12],
                "director":4,
               " actors":[8,9,10],
               "overview":"After the Rebels are overpowered by the Empire, Luke Skywalker begins his Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.",
               "country":1,
                "brand":[2,4,8],
                "img":"film4.jpg",
                "video":""
            },
            {
                "id":5,
                "title":"The Godfather",
                "year":1972,
                "genres":[9,10],
                "director":5,
               " actors":[11,12,13],
               "overview":"Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son Michael. However, his decision unintentionally puts the lives of his loved ones in grave danger.",
               "country":1,
                "brand":[2],
                "img":"film5.jpg",
                "video":""
            },
            {
                "id":6,
                "title":"The Dark Knight",
                "year":2008,
                "genres":[1,5,9,10],
                "director":6,
               " actors":[14,15,16],
               "overview":"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",
               "country":1,
                "brand":[2,8],
                "img":"film6.jpg",
                "video":""
            },
            {
                "id":7,
                "title":"Mystic Land",
                "year":2003,
                "genres":[1,2,8],
                "director":7,
               " actors":[17,18,19],
               "overview":"His parents sacrificed everything for science, but in return had a bad reputation. Ideals carry in their hearts the steadfast will to return honor to their parents. Ideal tries to find the scientific item Kunlun Mirror, but is transported back to the Kunlun Mirror era. After many hardships and dangers, confronting mythical creatures, Ideal finally matured and untied the knot in his heart.",
               "country":2,
                "brand":[1,5,6],
                "img":"film7.jpg",
                "video":""
            },
            {
                "id":8,
                "title":"The Devildom Elephant Man",
                 "year":2023,
                "genre":[1],
                "director":8,
                "actor":[20,21,22],
               "overview":"In the Kangxi period, the overseas Siamese state bowed to the Qing government, the story begins with the Siamese princess being secretly assassinated, many forces involved. Hong Xiguan went to prison for revenge, and a major change took place in his life. However, he actively pushed forward and solved all difficulties, fighting against the magic elephants, wiping out evil forces and saving the poor people.A Siamese princess transforms into an oiranian and wise master",
               "country":2,
                "brand":[1,5,6],
                "img":"film8.jpg",
                "video":""
            },
            {
                "id":9,
                "title":"Jade Dynasty",
                "year":"2019",
                "genre":[2,3],
                "director":9,
                "actor":[23,24],
               "overview":"In one night, the whole village was killed, he joined Qing Yunmen on the Great Truc Feng, accidentally obtained the treasure of the Burning Flame Cone, thereby falling into a war between the evil and evil factions! Fascinating oriental fairy tales await you",
               "country":2,
                "brand":[1,5,6],
                "img":"film9.jpg",
                "video":""
            },
            {
                "id":10,
                "title":"Cross The Battlefield",
                "year":2023,
                "genre":[17,18],
                "director":10,
                "actor":[25,26,27],
               "overview":"High school student Tran Vu Phi loves e-sports but has never been supported by his father. In an accident, his father and Wang Kai swapped identities, initially wanting to upset his son esports career, but during competitions, they understood each other, grew up together, and became close friends.",
               "country":2,
                "brand":[1,5,6],
                "img":"film10.jpg",
                "video":""
            },
            {
                "id":11,
                "title":"Tomahawk Action 2 Bloodthirsty",
                "year":2023,
                "genres":[17,18],
                "director":11,
               " actors":[28,29,30],
               "overview":"A drug trafficking case in the border town of Xinnan City is under secret police surveillance, an accident deprives the most important evidence in the case, and undercover police begin a search. A Bu, who had just been released from prison and was about to welcome his new life, suddenly became the target of public criticism.",
               "country":2,
                "brand":[1,5,6],
                "img":"film11.jpg",
                "video":""
            },
            {
                "id":12,
                "title":"Blue Color of Life and Death",
                "year":2019,
                "genres":[3,18],
                "director":12,
               " actors":[31,32,33],
               "overview":"An Xi (played by Zhao Luoxi) and Han Ai (played by Meng Meiqi) are accidentally swapped by their older brother Tuan Xi (played by Xiao Yi). Tuan Xi best friend Han Tai (Hua Kai) after learning of Enxi identity decides to protect her, rejecting Han Ai feelings. And to Enxi, is Tuan Xi ultimately a brother or a lover? These are all arrangements of destiny.",
               "country":2,
                "brand":[1,5,6],
                "img":"film12.jpg",
                "video":""
            },
            {
                "id":13,
                "title":"The Good, the Bad and the Ugly",
                "year":1966,
                "genre":[8],
                "director":13,
               " actors":[35,36,37],
               "overview":"A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.",
               "country":3,
                "brand":[1,3,7],
                "img":"film13.jpg",
                "video":""
            }
        ];
	});

    $scope.addEmp = function(){
        $scope.employees.push({ title:$scope.empName, city:$scope.empCity, state:$scope.empState ,img:$scope.img,overview:$scope.overiew});
    }
    
  
});


</script>
</body>
</div>
</html> 