*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
   
}
body{
    overflow-x: hidden;
}

nav{
    height: 6rem;
    width: 100%;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    
    .login-button{
        display: none;
    }
    .join-button{
        display: none;
    }
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
    background: #131418;
    height: 100vh;
    left: 3px;
   
    width: 109%;
    top: 2px;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
    .video-card:hover .video-card-image{
        display: none;
    }
  
    .card-container::-webkit-scrollbar{
display: none;
    }
    .watchlist-btn::before{
        content: '';
        position: absolute;
        top: 4px;
        left: 1px;
        height: 35px;
        width: 35px;
        background-size: cover;
        transform: scale(0.4);
        background-image: url(img/add.png);
    }
    .watchlist-btn:hover{
        color: #fff;
    }
    .card:hover .card-body:hover{
        opacity: 1;
    }
    .pre-btn:hover img,.nxt-btn:hover img{
        opacity: 1;
    }
    .user-avatar{
        width: 110px;
    min-width: 110px;
    height: 110px;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid #7b61ff;
    background: #ffffff;
    margin-right: 22px;
    position: relative;
    }
.user-avatar img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
    will-change: transform;
}
.user-profile{
    display:flex;
    align-items: center;
    max-width: 335px;
    margin-right: 4rem;
}
 .user-profile .user-info h5 {
    margin-bottom: 5px;
    font-size: 20.33px;
    line-height: 30px;
    width: 27vh;
    font-weight: bold;
    font-family:Metropolitano;
}
.header-bottom .nav li .active:after {
    content: " ";
    height: 3px;
    width: 12%;
    left: 438px;
    bottom: -9px;
    position: absolute;
    background: linear-gradient(248.28deg, #9e61ff 9.539999999999999%, rgba(142,97,255,0) 32.8%),radial-gradient(81.70999999999999% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205,219,248,0) 69.54000000000001%),#6c52ee;
}
.menu-text:hover{
    color: #7b61ff;
}
.favorites-page{
    color:#cccdd2;
    font-family: inherit;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
    font-size: 16px;
    background-color: #00031c;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: black;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


@media (max-width: 576px) {
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 1vh;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
        left: 19vh;
        position: absolute;
        display: flex;
        /* text-align: center; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    #nav {
        top: 28.6vh;
        left: -4vh;
    }
    #nav-count{
        margin-left:4vh;
    }
    .favorites-page {
        color: #cccdd2;
        font-family: inherit;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        opacity: 0.9;
        font-size: 16px;
        background-color: #00031c;
        margin-left: -4vh;
    }
    .header-bottom .nav li .active:after {
        content: " ";
        height: 3px;
        width: 14%;
        left: 131px;
        bottom: -9px;
        position: absolute;
        background: linear-gradient(248.28deg, #9e61ff 9.539999999999999%, rgba(142,97,255,0) 32.8%),radial-gradient(81.70999999999999% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205,219,248,0) 69.54000000000001%),#6c52ee;
    }
    
    .user-profile {
        display: flex;
        align-items: center;
        max-width: 335px;
        margin-left: -5rem;
    }    
}
